/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	background-color: #FFF;
}

#header {
	position:fixed;
	top: 0;
	width:100%;
	background-color: #FFF;
}

#header a {
	font-weight: bold;
	color: #39F;
	text-decoration: none;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

#content {
	width: 800px;
	margin: 0 auto;
	margin-top: 197px;
}

form#charInfo {
	float: left;
	width: 462px;
	margin: 8px 0 8px;
	padding-bottom: 13px;
	border-bottom: #39F solid 2px;
}

input#charLevel {
	width: 2.5em;
	text-align: center;
}

.tab {
	float: left;
	display: block;
	width: 140px;
	margin: 8px 0;
	padding: 8px;
	text-align: center;
	border: #39F solid 2px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #FFF;
}

.tab:hover {
	border-color: #FFF;
}

.tab.selected {
	color: #FFF !important;
	border-color: #39F;
	background-color: #39F;
}

.spacer {
	float: left;
	width: 8px;
	height: 41px;
	border-bottom: #39F solid 2px;
}

table {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	border-spacing: 2px;
}

table input {
	width: 98%;
	height: 100%;
	text-align: center;
}

table select {
	width: 100%;
}

thead {
	color: #FFF;
	background-color: #39F;
}

table td {
	background-color: #FFF;
}

table.tableTitle {
	border-collapse: collapse;
	border: #39F solid 2px; 
	margin-bottom: 16px;
}

table thead tr th.tableTitle {
	font-size: 110%;
	color: #FFF !important;
	padding: 8px;
	background-color: #39F;
}

table tr td.tableDetails {
	font-weight: bold;
	padding: 2px;
	color: #FFF !important;
	background-color: #39F;
	cursor: pointer;
}

table tr td.tableDetails:hover {
	background-color: #28D;
}

table#mainStats td {
	width: 16.6%;
}

table#secStats td{
	width: 33%;
}

/*table#weapons tr td, table#weapons tr th {
	width: 20%;
}*/

table#weapons .itemCol {
	width: 146px;
}

table#weapons .mainAttCol {
	width: 64px;
}

table#weapons .attCol {
	width: 132px;
}

table#weapons .buffCol {
 width: 378px;
}

table#weapons .buffCol select {
	width: 300px;
}

table#weapons td input {
	width: 94%;
}

table#weapons ul li select {
	display: inline-block;
	width: 54px;
}

table#weapons ul li input {
	display: inline-block;
	width: 50px;
	margin-right: 2px;
}

table#weapons ul li button {
	display: inline-block;
	width: 20px; 
}

/*table#equips tr td, table#equips tr th {
	width: 30%;
}*/

table#equips .itemCol {
	width: 146px;
}

table#equips .mainAttCol {
	width: 64px;
}

table#equips .attCol {
	width: 132px;
}

table#equips .buffCol select {
	width: 434px;
}

table#equips td input {
	width: 94%;
}

table#equips tr td:first-child, table#equips tr th:first-child {
	width: 10%;
}

table#equips thead tr th:first-child {
	background-color: #FFF;
	border-spacing: 0;
}

table#equips tbody tr th:first-child {
	color: #FFF;
	background-color: #39F;
}

table ul {
	list-style: none;
	padding: 2px 0;
}

table ul li {
	margin-top: 2px
}

table#equips ul li select {
	display: inline-block;
	width: 54px;
}

table#equips ul li input {
	display: inline-block;
	width: 50px;
	margin-right: 2px;
}

table#equips ul li button {
	display: inline-block;
	width: 20px; 
}

button.addButton {
	width: 100%;
	text-align: center;
	cursor: pointer;
}